<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="newrelic" data-view="List" data-unordered="true" data-title="Red Apps" data-moreinfo="Apps with a red apdex from newrelic"></div>
    </li>

  </ul>
</div>
